// FONT FAMILY
$font_idx: 1;
$font_default: Helvetica,
Arial,
sans-serif !default;

// Font Family Ex. (name, 'fonts/path')
$font_family: (GothamRounded-Bold: '../fonts/GothamRounded-Bold',
    GothamRounded-BoldItalic: '../fonts/GothamRounded-BoldItalic',
    GothamRounded-Book: '../fonts/GothamRounded-Book',
    GothamRounded-BookItalic: '../fonts/GothamRounded-BookItalic',
    GothamRounded-Light: '../fonts/GothamRounded-Light',
    GothamRounded-LightItalic: '../fonts/GothamRounded-LightItalic',
    GothamRounded-Medium: '../fonts/GothamRounded-Medium',
    GothamRounded-MediumItalic: '../fonts/GothamRounded-MediumItalic'
);

//COLORS
$white: #ffffff;
$black: #212121;
$grey: #BDBDBD;
$darkgrey: #757575;
$lightblue: #03A9F4;
$bluegrey: #607D8B;
$bluegreylighter: #CFD8DC;
$bluegreydarker: #455A64;

$colors: (white: #ffffff,
    black: #212121,
    grey: #BDBDBD,
    darkgrey: #757575,
    lightblue: #03A9F4,
    bluegrey: #607D8B,
    bluegreylighter: #CFD8DC,
    bluegreydarker: #455A64);


// text-align
$align: left center right;

// vertical-align
$vertical-align: top middle bottom;

// float
$float: left right;

// position
$position: top right bottom left;

// media-query
$media-query: (laptop, (min-width: 1366px)),
(desktop, (min-width: 1200px)),
(wide, (min-width: 992px)),
(tablet, (min-width: 768px) and (max-width: 991px)),
(mobile, (max-width: 767px)),
(small-mobile, (max-width: 360px));