@@include('../shared/header.html', {
"style": [
"assets/css/vendor/bootstrap.css",
"assets/css/vendor/slick.css",
"assets/css/vendor/slick-theme.css",
"assets/css/vendor/font-awesome.min.css",
"assets/css/main.css",
"assets/css/pages/homepage.css"
]
})
<main>
  <section>
    <div class="nutrilon__royal-wrapper">
      <div class="container">
        <div class="row align-items-center nutrilon__row-center">
          <div class="col-12 col-md-5">
            <div class="nutrilon__image-royal">
              <img src="/assets/image/nutrilon-royal.png" width="100%" alt="">
            </div>
            <div class="nutrilon__royal-kandungan-mobile">
              <p class="">*berdasarkan penelitian pada 767 anak (12-29 bulan) dimana 23%
                populasi anak yang diberikan scGOS|lcFOS9:1 6.3g/hari dan LCPUFA (EPA & DHA) 101.4 mg selama 52 minggu
                terlindungi dari infeksi saluran
                pernafasan atas (URTIs) dan infeksi saluran cerna (GIIs).</p>
            </div>
          </div>
          <div class="col-12 col-md-7">
            <div class="nutrilon__royal-caption">
              <div class="nutrilon__royal-actiduobio">
                <p class="">Nutrilon Royal <span> Actiduobio+</span></p>
              </div>
              <div class="nutrilon__royal-klinis">
                <p class="">Terbukti Klinis Bantu Perkuat <br> Daya Tahan Tubuh</p>
              </div>
              <div class="nutrilon__royal-kandungan">
                <p class="">*berdasarkan penelitian pada 767 anak (12-29 bulan) dimana 23%
                  populasi anak yang diberikan scGOS|lcFOS <br>
                  9:1 6.3g/hari dan LCPUFA (EPA & DHA) 101.4 mg selama 52 minggu terlindungi dari infeksi saluran
                  pernafasan <br> atas (URTIs) dan infeksi saluran cerna (GIIs).</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="wrapper__chat">
    <div class="nutrilon__chat">
      <div class="nutrilon__chat-image">
        <a href="#"> <img src="/assets/image/Bitmap.png" width="100%" alt="">
        </a>
      </div>
      <a href="#">
        <p>Tes Resiliensi si Kecil disini!</p>
      </a>
    </div>
    <section class="nutrilon__section-satu">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-md-7">
            <div class="nutrilon__penelitian">
              <ul>
                <li class="nutrilon__penelitian-judul">Tahukah Mama & Papa?</li>
                <li class="nutrilon__penelitian-royal">Minum Nutrilon Royal <span
                    class="nutrilon__penelitian-royal-span">Actiduobio+</span></li>
                <li class="nutrilon__penelitian-images"><img src="/assets/image/3x-10.png" alt="">Sehari</li>
                <li class="nutrilon__penelitian-caption">dengan LCPUFA (Omega 3 & 6) dan</li>
                <li class="nutrilon__penelitian-caption">FOS:GOS 1:9 terbukti klinis* bantu perkuat daya tahan</li>
                <li class="nutrilon__penelitian-caption">tubuh si kecil</li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-5">
            <img src="/assets/image/Group 262.png" width="100%" alt="">
          </div>
        </div>
        <div class="row">
          <div class="nutrilon__caption-penelition">
            <div class="col-12 col-md-10">
              <li>*berdasarkan penelitian pada 767 anak (12-29 bulan) dimana 23% populasi anak yang diberikan
                scGOS|lcFOS
                9:1
                6.3g/hari dan LCPUFA (EPA & DHA) 101.4 mg selama 52 minggu terlindungi dari infeksi saluran pernafasan
                atas
                (URTIs) dan infeksi saluran cerna (GIIs).</li>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="nutrilon__caption-research-center">
            <div class="container">
              <li>Penelitian dilakukan oleh Nutricia Research Center dengan pengalaman lebih dari 100 tahun di bidang
                Nutrisi Awal Kehidupan</li>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="nutrisi__wraper">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-11">
              <div class="nutrisi">
                <div class="nutrisi__judul">
                  <p>Nutrisi Penting Nutrilon Royal <span class="nutrisi__judul-span">Actiduobio+</span></p>
                  <img src="/assets/image/tabel-06.png" width="100%" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="nutrisi">
                <div class="nutrisi__judul">
                  <p>Manfaat Ganda Nutrilon Royal<span class="nutrisi__judul-span">Actiduobio+</span></p>
                  <div class="row nutrisi__row-center">
                    <div class="col-12 col-md-5">
                      <img src="/assets/image/Group 13.png" width="100%" alt="">
                    </div>
                    <div class="col-12 col-md-5">
                      <div class="nutrisi__penting-image">
                        <img src="/assets/image/Group 5.png" width="100%" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="nutrilon__section-tiga">
      <div class="nutrilon__section-promo">
        <div class="container">
          <div class="nutrilon__promo-satu">
            <div class="row align-items-center">
              <div class="col-12 col-md-5">
                <img class="nutrilon__promo-image-call" src="/assets/image/customer-service.png" width="100%" alt="">
              </div>
              <div class="col-12 col-md-7">
                <div class="nutrilon__wraper-caption">
                  <div class="nutrilon__promo-div">
                    <p class="nutrilon__promo-caption-royal">Dapatkan Nutrilon Royal di Toko Favorit Mama <br> & Papa!
                    </p>
                  </div>
                  <div class="nutrilon__Promo-div">
                    <p class="nutrilon__promo-caption-nutrisi">Jika Mama & Papa memiliki pertanyaan mengenai nutrisi dan
                      <br> tumbuh kembang</p>
                  </div>
                  <div class="nutrilon__promo-div">
                    <p class="nutrilon__promo-caption-nutrisi">Layanan Careline kami siap <span
                        class="nutrilon__promo-caption-nutrisi-span">24/7</span> untuk menjawab pertanyaan
                    </p>
                  </div>
                  <div class="nutrilon__promo-image-div">
                    <a class="nutrilon__promo-image"><img src="/assets/image/careline.png" alt=""></a>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="nutrilon__promo-dua">
            <div class="row">
              <div class="col">
                <div class="nutrilon__image-hp">
                  <img src="/assets/image/image-hp.png" width="100%" alt="">
                </div>
                <div class="nutrilon__wraper-caption-promo-dua">
                  <p class="nutrilon__promo-dua-caption">Siapkan si Kecil untuk hadapi tantangan di masa depan.
                    #BeResilient
                  </p>
                  <div class="nutrilon__button">
                    <a class="btn btn-blue nutrilon__button-pelajari" href="">Pelajari lebih lanjut</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="nutrilon__promo-tiga">
            <div class="row align-items-center">
              <div class="col-12 col-md-5">
                <div class="nutrilon__promo-tiga-image">
                  <img src="/assets/image/keunggulan-image.png" alt="">
                </div>
              </div>
              <div class="col-12 col-md-7">
                <div class="nutrilon__caption-keunggulan">
                  <p>Ketahui perkembangan perilaku dan</p>
                  <p>karakter si Kecil melalui Tes Resiliensi</p>
                  <div class="nutrilon__button-tes">
                    <a class="btn btn-blue nutrilon__button-tes-sekarang" href="">Tes Sekarang!</a>
                  </div>
                </div>
                <div class="nutrilon__caption-keunggulan-mobile">
                  <p> Ketahui perkembangan perilaku dan karakter si Kecil melalui Tes Resiliensi</p>
                  <div class="nutrilon__button-tes">
                    <a class="btn btn-blue nutrilon__button-tes-sekarang" href="">Tes Sekarang!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>

      <!-- Accordion -->
      <div id="accordionExample" class="accordion shadow">
        <div class="container-1">
          <!-- Accordion item 1 -->
          <div class="card nutrilon__card-collapse">
            <div class="container">
              <div id="headingOne" class="card-header bg-white nutrilon__shadow-card border-0 pl-0 pr-0">
                <h2 class="mb-0">
                  <button type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne"
                    class="btn btn-link text-dark font-weight-bold  collapsible-link pr-0 pl-0">Asi
                    terbaik bagi
                    bayi</button>
                </h2>
              </div>
              <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample" class="collapse show">
                <div class="card-body">
                  <p class="font-weight-light m-0">Anim pariatur cliche reprehenderit, enim eiusmod high life
                    accusamus
                    terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food
                    truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                    squid
                    single-origin coffee nulla assumenda shoreditch et.</p>
                </div>
              </div>
            </div>
          </div><!-- End -->

          <!-- Accordion item 2 -->
          <div class="card nutrilon__card-collapse">
            <div class="container">
              <div id="headingTwo" class="card-header bg-white nutrilon__shadow-card border-0 pr-0 pl-0">
                <h2 class="mb-0">
                  <button type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                    aria-controls="collapseTwo"
                    class="btn btn-link collapsed text-dark font-weight-bold collapsible-link pr-0 pl-0">Tentang
                    Nutricia</button>
                </h2>
              </div>
              <div id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionExample" class="collapse">
                <div class="card-body">
                  <p class="font-weight-light m-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                    terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food
                    truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                    single-origin coffee nulla assumenda shoreditch et.</p>
                </div>
              </div>
            </div>
          </div><!-- End -->

          <!-- Accordion item 3 -->
          <div class="card nutrilon__card-collapse">
            <div class="container">
              <div id="headingThree" class="card-header bg-white nutrilon__shadow-card border-0 pr-0 pl-0">
                <h2 class="mb-0">
                  <button type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                    aria-controls="collapseThree"
                    class="btn btn-link collapsed text-dark font-weight-bold collapsible-link pr-0 pl-0">Tentang
                    Nutriclub</button>
                </h2>
              </div>
              <div id="collapseThree" aria-labelledby="headingThree" data-parent="#accordionExample" class="collapse">
                <div class="card-body">
                  <p class="font-weight-light m-0">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                    terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food
                    truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                    single-origin coffee nulla assumenda shoreditch et.</p>
                </div>
              </div>
            </div>
          </div><!-- End -->
        </div>
      </div><!-- End -->

    </section>
  </div>

</main>


@@include('../shared/footer.html', {
"script": [
"assets/js/vendor/jquery.min.js",
"assets/js/vendor/bootstrap.bundle.min.js",
"assets/js/app.min.js",
"assets/js/includes/homepage.js"
]
})