.wrapper {
    &__footer-satu {
        display: flex;
        justify-content: center;
        background-image: linear-gradient(to right, #1a3491 48%, #2384c6 50%);
        align-items: center;
        /* margin: 0 20px; */
        padding: 16px 0;

        @media screen and (max-width: 767px) {
            background-image: linear-gradient(90deg, #1a3491 46%, #2384c6 50%);
        }
    }


    &__image {
        // font-size: 16px;
        // color: #ffffff;
        // font-family: 'GothamRounded-Medium';

    }

    &__footer-dua {
        background: #1B3077;
        padding: 35px 0 20px 0;

        @media screen and (max-width: 767px) {
            padding: 15px 0 20px;
        }
    }

    &__social-media {
        display: flex;
        justify-content: center;
        padding: 15px;

        .instagram {
            margin: 0 30px;
        }
    }

    &__footer-link {
        display: flex;
        justify-content: center;

        ul {
            text-align: center;

            @media screen and (max-width: 767px) {
                padding: 0;
                text-align: center;
            }

        }

        ul li {
            display: inline-block;
            color: white;
            font-family: 'GothamRounded-Book';
            font-size: 14px;
            margin: 0 7px;
        }

        ul li a {
            color: white;
            font-family: 'GothamRounded-Book';
            font-size: 14px;

            @media screen and (max-width: 767px) {
                font-size: 11px;
            }
        }
    }

    &__footer-tiga {
        background: #192B6B;
        padding: 8px 0;

        p {
            text-align: center;
            color: white;
            padding: 0;
            margin: 0;
            font-family: 'GothamRounded-Light';
            font-size: 12px;
        }

    }
}

.image__telfon {
    font-size: 16px;
    color: #ffffff;
    font-family: 'GothamRounded-Medium';

    @media screen and (max-width: 767px) {
        font-size: 11px;
    }

    &:hover {
        color: #ffffff;
        font-family: 'GothamRounded-Medium';
        text-decoration: none;
    }
}

.image-nutriclub {
    margin: 0 30px;

    @media screen and (max-width: 767px) {
        margin: 0 6px;
    }
}

.image__whatsapp {
    font-size: 16px;
    color: #ffffff;
    font-family: 'GothamRounded-Medium';

    @media screen and (max-width: 767px) {
        font-size: 11px;
    }

    &:hover {
        color: #ffffff;
        font-family: 'GothamRounded-Medium';
        text-decoration: none;
    }
}