.wrapper__header {
  background: #FFFFFF;
  padding: 20px 0px;
  border-radius: 0 0 250px 50%/15px;
  z-index: 9999;
  /* border: 2px solid; */
  position: relative;
}

nav {
  justify-content: center;
  display: flex;
}