.nutrilon {
    &__row-center {

        // @include breakpoint(mobile) {
        //     flex-direction: column-reverse;
        //     text-align: center;
        //     padding: 20px 0;
        // }
        @media screen and (max-width: 767px) {
            flex-direction: column-reverse;
            text-align: center;
            padding: 20px 0;

        }

    }

    &__penelitian {
        color: #011689;

        // @include breakpoint(mobile) {
        //     text-align: center;
        // }
        @media screen and (max-width: 767px) {
            text-align: center;

        }

        ul {
            padding: 0;
        }

        ul li {
            list-style: none;
        }
    }

    &__penelitian-judul {
        font-size: 18px;
        font-family: 'GothamRounded-Book';

        @media screen and (max-width: 767px) {
            font-size: 14px;
            color: #011689;
        }

        // @include breakpoint (mobile) {
        //     font-size: 14px;
        //     color: #011689;
        // }
    }

    &__penelitian-royal {
        font-family: 'GothamRounded-Bold';
        font-size: 32px;

        @media screen and (max-width: 767px) {
            font-size: 16px;

        }

        // @include breakpoint(mobile) {
        //     font-size: 16px;
        // }
    }

    &__penelitian-royal-span {
        color: #F4C82E;
        font-family: 'GothamRounded-Bold';
        font-size: 32px;

        @media screen and (max-width: 767px) {

            font-size: 16px;

        }

        // @include breakpoint(mobile) {
        //     font-size: 16px;
        // }
    }

    &__penelitian-images {
        font-family: 'GothamRounded-Bold';
        font-size: 32px;

        @media screen and (max-width: 767px) {

            font-size: 26px;

        }

        // @include breakpoint(mobile) {
        //     font-size: 26px;
        // }
    }

    &__penelitian-caption {
        font-family: 'GothamRounded-Medium';
        font-size: 21px;

        @media screen and (max-width: 767px) {
            font-size: 16px;

        }

        // @include breakpoint(mobile) {
        //     font-size: 16px;
        // }
    }

    &__caption-penelition {
        color: #011689;
        font-family: 'GothamRounded-Book';
        font-size: 12px;
        text-align: center;
        justify-content: center;
        display: flex;

        li {
            list-style: none;
            font-size: 12px;

            @media screen and (max-width: 767px) {

                font-size: 6px;
                font-family: 'Gotham-Book';
            }

            // @include breakpoint(mobile) {
            //     font-size: 6px;
            //     font-family: 'Gotham-Book';
            // }

        }
    }

    &__caption-research-center {
        color: #011689;
        font-family: 'GothamRounded-Medium';
        font-size: 24px;
        text-align: center;
        justify-content: center;
        display: flex;
        margin: 40px 0;

        @media screen and (max-width: 767px) {

            margin: 20px 0;

        }

        // @include breakpoint(mobile) {
        //     margin: 20px 0;
        // }

        li {
            list-style: none;
            font-size: 24px;
            line-height: 1.2;

            @media screen and (max-width: 767px) {

                font-size: 12px;
                font-family: 'GothamRounded-Medium';

            }

            // @include breakpoint(mobile) {
            //     font-size: 12px;
            //     font-family: 'GothamRounded-Medium';
            // }
        }
    }
}

.nutrisi {
    &__wraper {
        background: #1B2977;
        background-image: url(/assets/image/backgound-biru.png);
    }

    &__judul {
        text-align: center;
        font-size: 28px;
        color: #FFFFFF;
        margin-top: 40px;
        font-family: 'GothamRounded-Bold';

        @media screen and (max-width: 767px) {

            font-size: 18px;
            font-family: 'GothamRounded-Bold';

        }

        // @include breakpoint(mobile) {
        //     font-size: 18px;
        //     font-family: 'GothamRounded-Bold';
        // }

        &-span {
            color: #F8C500;
        }
    }

    &__row-center {
        justify-content: center;
        align-items: center;
    }

    &__penting-image {
        @media screen and (max-width: 767px) {

            margin: 30px 0;

        }

        // @include breakpoint(mobile) {
        //     margin: 30px 0;
        // }
    }
}

.wrapper__chat {
    position: relative;
}

.nutrilon {
    &__chat {
        background: #FFECCD;
        width: 150px;
        position: absolute;
        top: 18%;
        right: 0;
        z-index: 2;
        border-radius: 10px 0 0 10px;
        padding: 10px;
        box-sizing: border-box;

        @media screen and (max-width: 767px) {


            background: #ffeccd;
            width: 80px;
            position: absolute;
            top: 5.6%;
            right: 0;
            z-index: 2;
            border-radius: 10px 0 0 10px;
            padding: 10px;
            box-sizing: border-box;
        }

        // @include breakpoint(mobile) {
        //     background: #ffeccd;
        //     width: 80px;
        //     position: absolute;
        //     top: 5.6%;
        //     right: 0;
        //     z-index: 2;
        //     border-radius: 10px 0 0 10px;
        //     padding: 10px;
        //     box-sizing: border-box;
        // }

        p {
            text-align: center;
            font-family: GothamRounded-Medium;
            color: #8A6A31;
            font-size: 14px;
            margin: 0;

            @media screen and (max-width: 767px) {
                font-size: 6px;

            }

            // @include breakpoint(mobile) {
            //     font-size: 6px;
            // }
        }

        a:hover {
            text-align: center;
            font-family: GothamRounded-Medium;
            color: #8A6A31;
            font-size: 14px;
            margin: 0;
            text-decoration: none;
        }
    }

    &__chat-image {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        box-sizing: border-box;

        @media screen and (max-width: 767px) {
            box-sizing: border-box;
            margin-bottom: 2px;
        }
    }

    &__royal-wrapper {
        /* position: absolute; */
        margin-top: -30px;
        width: 100%;
        z-index: 2;
        background-image: url(/assets/image/background-biru-atas.png);

        @media screen and (max-width: 767px) {
            margin-top: -20px;
        }
    }

    &__royal-caption {
        @media screen and (max-width: 767px) {
            margin-top: 30px;
        }
    }


    &__royal-actiduobio {
        p {
            font-size: 28px;
            font-family: 'GothamRounded-Bold';
            color: #FFFFFF;

            @media screen and (max-width: 767px) {

                font-size: 26px;
                font-family: 'GothamRounded-Bold';
                margin: 0;

                // }
                // @include breakpoint(mobile) {
                //     font-size: 26px;
                //     font-family: 'GothamRounded-Bold';
                //     margin: 0;
                // }
            }

            span {
                color: #FEDF69;

                @media screen and (max-width: 767px) {

                    display: none;

                }

                // @include breakpoint(mobile) {
                //     display: none;
                // }
            }
        }
    }

    &__royal-klinis {
        p {
            color: #ffbb25;
            font-size: 40px;
            font-family: 'GothamRounded-Bold';
            line-height: 1;

            @media screen and (max-width: 767px) {

                font-size: 18px;
                line-height: 1.4;

            }

            // @include breakpoint(mobile) {
            //     font-size: 18px;
            //     line-height: 1.4;
            // }

        }
    }

    &__royal-kandungan {
        color: white;
        font-family: 'GothamRounded-Book';
        font-size: 10px;

        @media screen and (max-width: 767px) {

            display: none;

        }

        // @include breakpoint(mobile) {
        //     display: none;
        // }
    }

    &__royal-kandungan-mobile {
        color: white;
        font-family: 'GothamRounded-Book';
        font-size: 6px;

        @media screen and (min-width: 1200px) {
            display: none;
        }

        // @include breakpoint(desktop) {
        //     display: none;

        // }
    }

    &__section-satu {
        background: #F7F9FA;
        background-image: url(/assets/image/background-putih.png);
        padding-top: 50px;

        @media screen and (max-width: 767px) {
            padding: 15px 0;
        }
    }

    &__section-tiga {
        background: #F7F9FA;
    }

    &__section-promo {
        padding: 50px 0;
        // margin: 50px 0;
    }

    &__promo-satu {
        background: #1E267C;
        border-radius: 10px;
    }

    &__wraper-caption {
        // padding: 30px;
        color: #FFF;
    }

    &__promo-caption-royal {
        font-size: 24px;
        font-family: 'GothamRounded-Bold';
        line-height: 1.3;

        @media screen and (max-width: 767px) {
            font-size: 18px;
            font-family: 'GothamRounded-Bold';
            text-align: center;
            margin-top: 15px;
        }

    }

    &__promo-caption-nutrisi {
        font-size: 18px;
        font-family: 'GothamRounded-Book';
        line-height: 1.3;
        line-height: 1.3;

        @media screen and (max-width: 767px) {
            font-size: 14px;
            text-align: center;
            font-family: 'GothamRounded-Book';
        }

    }

    &__promo-caption-nutrisi-span {
        color: #F0D382;
    }

    &__promo-image-call {
        border-right: 5px solid #B37352;

        @media screen and (max-width: 767px) {
            border-right: none;
            border-bottom: 5px solid #B37352;
        }
    }

    &__promo-image-div {
        @media screen and (max-width: 767px) {
            padding: 15px;
            box-sizing: border-box;
        }

    }

    &__promo-image {
        margin-top: 50px;

        img {
            @media screen and (max-width: 767px) {
                width: 100%;
            }
        }
    }

    &__promo-dua {
        border-radius: 10px;
        overflow: hidden;
        margin: 45px 0;
    }

    &__wraper-caption-promo-dua {
        background: #1E267C;
        padding: 15px 0;
        border-radius: 50%/10px 12px 0 0;
        margin-top: -10px;
        position: relative;

        @media screen and (max-width: 767px) {
            width: 100%;
        }

    }

    &__promo-dua-caption {
        text-align: center;
        font-size: 14px;
        color: #FFF;
        font-family: 'GothamRounded-Bold';

    }

    &__button {
        display: flex;
        justify-content: center;
        padding: 10px 30px;

    }

    &__promo-tiga-image {
        text-align: end;

        img {
            @media screen and (max-width: 767px) {
                width: 100%;
            }

            @media screen and (min-width: 1200px) {
                width: 80%;
            }
        }
    }

    &__promo-tiga {
        background: #1E267C;
        border-radius: 10px;
        // padding: 50px 0;
    }

    &__caption-keunggulan {
        color: #fff;
        font-size: 24px;
        font-family: 'GothamRounded-Bold';
        line-height: 1;

        // padding: 20px 0;
        @media screen and (max-width: 767px) {
            display: none;
        }
    }

    &__caption-keunggulan-mobile {
        color: #fff;
        font-size: 18px;
        font-family: 'GothamRounded-Bold';
        line-height: 1;
        text-align: center;
        margin-bottom: 25px;

        p {
            font-size: 16px;
        }

        @media screen and (min-width: 1200px) {
            display: none;
        }
    }

    &__button-tes-sekarang {
        background: #F3CC8B;
        border-radius: 20px;
        color: #96753A;
        font-size: 12px;
        font-family: 'GothamRounded-Medium';
        padding: 10px 65px;
        font-size: 14px;
    }

    &__button-pelajari {
        background: #F3CC8B;
        border-radius: 20px;
        color: #96753A;
        font-size: 14px;
        font-family: 'GothamRounded-Medium';
        padding: 10px 30px;

        @media screen and (max-width: 767px) {
            font-size: 10px;
        }
    }

    &__card-collapse {
        border-bottom: 1px solid rgba(0, 0, 0, .125) !important;

    }

    &__shadow-card {
        box-shadow: 0 .125rem rgba(0, 0, 0, .075) !important;
    }


}

// .btn-blue {
//     background: #F3CC8B;
//     border-radius: 20px;
//     color: #96753A;
//     font-size: 12px;
//     font-family: 'GothamRounded-Medium';
// }

.btn-blue:hover {
    color: #96753A;
}

.collapsible-link {
    width: 100%;
    position: relative;
    text-align: left;
    color: #303030;
    font-size: 14px;
    font-family: 'GothamRounded-Medium';
    text-decoration: none !important;
}

.collapsible-link::before {
    text-decoration: none !important;
    content: '\f107';
    position: absolute;
    top: 50%;
    right: 0.8rem;
    transform: translateY(-50%);
    display: block;
    font-family: 'fontawesome';
    font-size: 1.1rem;
}

.collapsible-link[aria-expanded='true']::before {
    content: "\f078";
    font-family: 'fontawesome';
    text-decoration: none;

}

.card {
    border: none;
    border-radius: 0;
}

.card-body {
    padding: 1.25rem 0;

    p {
        font-size: 10px;
        font-family: 'GothamRounded-Medium';
        text-align: justify;
    }
}