<footer>
  <div class="wrapper__footer-satu">
    <!-- <div class="row"> -->
    <div class="wrapper__image">
      <a href="" class="image__telfon"><img src="/assets/image/telfon.png" alt=""> 0 804 118 1818</a>
      <a class="image-nutriclub" href=""><img src="/assets/image/logo-nutriclub.png" alt=""></a>
      <a href="" class="image__whatsapp"><img src="/assets/image/whatsapp.png" alt=""> 0821 20000 100</a>
    </div>
    <!-- </div> -->
  </div>

  <div class="wrapper__footer-dua">
    <div class="wrapper__social-media">
      <a href="#"><img src="/assets/image/facebook.png" alt=""></a>
      <a class="instagram" href="#"><img src="/assets/image/instagram.png" alt=""></a>
      <a href="#"><img src="/assets/image/Group 33.png" alt=""></a>
    </div>
    <div class="wrapper__footer-link">
      <div class="container">
        <ul>
          <li><a href="#">Syarat dan Ketentuan</a></li>
          <li>|</li>
          <li><a href="#">Pernyataan Korporat</a></li>
          <li>|</li>
          <li><a href="#">Hubungi Kami</a></li>
          <li>|</li>
          <li><a href="#">Peta Situs</a></li>
        </ul>
      </div>
    </div>
    <!-- <div class="wrapper__footer-link">
      <div class="container">
        <ul>
          <li><a href="#">Syarat dan Ketentuan</a></li>
          <li>|</li>
          <li><a href="#">Pernyataan Korporat</a></li>
          <li>|</li>
          <li><a href="#">Hubungi Kami</a></li>
          <li>|</li>
          <li><a href="#">Peta Situs</a></li>
        </ul>
      </div>
    </div> -->
  </div>
  <div class="wrapper__footer-tiga">
    <p>© 2019 Nutricia Indonesia. All rights reserved</p>
  </div>
</footer>

@@if(context.script) {
@@for(var i=0; i < script.length; i++) { <script src="`+script[i]+`">
  </script>
  }
  }
  </body>

  </html>